If:
    PathMatch: [.*\.h, .*\.c]
CompileFlags:
    Add:
        - -ferror-limit=100
        - -Wno-unused-parameter
Completion:
    AllScopes: Yes
    ArgumentLists: FullPlaceholders
    HeaderInsertion: Never
    CodePatterns: All
Documentation:
  CommentFormat: Doxygen